# Binance API Anahtarlari
# Gercek anahtarlarinizi .env dosyasina yazin, bu dosyayi DEGISTIRMEYIN.
BINANCE_API_KEY=buraya_api_key_yazin
BINANCE_API_SECRET=buraya_api_secret_yazin

# Testnet mi kullanilsin? (True / False)
USE_TESTNET=True
